{% layout 'layout.liquid' %}
{% block content %}
<!-- <div class="container-md">
    <form action="/todos" method="POST">
        <fieldset>
            <legend>Create A List</legend>
            <label class="form-label">Name:</label>
            <input class="form-control" type="text" name="name" placeholder="enter name">
        </fieldset>
        <input type="submit" value="Creat to do list" class="btn btn-success">
    </form>
</div> -->
<section class="vh-100" style="background-color: #eee;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-12 col-xl-10">

                <div class="card">
                    <div class="card-header p-3">
                        <h5 class="mb-0"><i class="fas fa-tasks me-2"></i>Add A New Task</h5>
                    </div>
                    <div class="card-body" data-mdb-perfect-scrollbar="true" style="position: relative; height: 400px">
                        <form action="/todos" method="POST">
                            <fieldset>
                                <label class="form-label">Task Name:</label>
                                <input class="form-control" type="text" name="name" placeholder="enter name">
                            </fieldset>
                            <input type="submit" value="Creat Task" class="btn btn-primary">
                        </form>
                    </div>
                    <div class="card-footer text-end p-3">
                        <a href="/todos" class="btn btn-danger">Cancel</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
{% endblock %}