{% layout 'layout.liquid' %}
{% block content %}
<section class="vh-100" style="background-color: #eee;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-12 col-xl-10">

                <div class="card">
                    <div class="card-header p-3">
                        <h5 class="mb-0"><i class="fas fa-tasks me-2"></i>Task List</h5>
                    </div>
                    <div class="card-body" data-mdb-perfect-scrollbar="true" style="position: relative; height: 400px">
                        <table class="table mb-0">
                            <div class="list-group">
                                {% for todo in todos %}
                                <div style="display:inline-flex">
                                    <a href="/todos/{{todo._id}}"
                                        class="list-group-item list-group-item-action">{{todo.name}}</a>
                                    <form style="display:inline-block" action="/todos/{{todo._id}}/edit" method="GET">
                                        <button type="submit" class="btn btn-primary">Edit</button>
                                    </form>
                                    <form style="display:inline-block" action="/todos/{{todo._id}}?_method=DELETE"
                                        method="POST">
                                        <button type="submit" class="btn btn-danger">Delete</button>
                                    </form>
                                </div>
                                {% endfor %}
                            </div>
                        </table>
                    </div>
                    <div class="card-footer text-end p-3">
                        <a href="/todos/new" class="btn btn-primary">Add Task</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
{% endblock %}